.link-validator{
    margin-top: 50px;
    margin-left: 5px;
    margin-bottom: 0px;
   background-color: lavender;
}

.links-mnemonics{
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 0px;
    background-color: lavender;
}

.school-html{
    margin-top: 30px;
    margin-left: 5px;
    margin-bottom: 50px;
    background-color: lavender;
}

.links{
    top: 7px;
}

.ul{
    margin-top: 50px;
    margin-left: 5px;
    margin-bottom: 50px;
    background-color: lavender;
}

.another{
    background-color: lightgoldenrodyellow;
}